.form__inpur-text {
    width: 416px;
    height: 36px;
    padding: 12px 0 12px 20px;
    box-sizing: border-box;
    border:0;
    margin-bottom: 22px;
  }
@media screen and (max-width: 441px) {
    .form__inpur-text {
      width: 360px;}}
@media screen and (max-width: 375px) {
    .form__inpur-text {
      width: 300px;}}
        

      