.place__paragraf {
  max-width: 420px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.place__paragraf:last-of-type {
  margin-bottom: 0;
}
