.intro__subtitle {
    text-transform: uppercase;
    padding-bottom: 45px;
    font-size: 13px;
    letter-spacing: -7%;
    color: #FECDA7;
  }

@media screen and (max-width: 605px) {
  .intro__subtitle {
     margin: 30px 0 0 0;}}
   