.video__iframe {
    max-width: 100%;
    width: 1505px;
    height: 735px;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
   
  }

  

  @media screen and (max-width: 1104px) {
   .video__iframe {
       width: 1104px;
       height: 650px;}}
 @media screen and (max-width: 605px) {
  .video__iframe {
      width: 605px;
       height: 350px;}}
           