.form__conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }
  @media screen and (max-width: 1104px) {
    .form__conteiner {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;}}