.form__title {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 156px;
    margin: 0;
}
@media screen and (max-width: 1243px) {
    .form__title {
      font-size: 36px;
      font-weight: bold;
      padding-bottom: 100px;
      margin: 0;}}

@media screen and (max-width: 1104px) {
    .form__title {
      font-size: 36px;
      font-weight: bold;
      padding-bottom: 70px;
      margin: 20px 0 0 0;}}
@media screen and (max-width: 441px) {
    .form__title {
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 70px;}}