.form__content {
    display: flex;
    flex-direction: column;
    margin: auto 254px auto 80px;
    height: 443px;
}

@media screen and (max-width: 1243px) {
    .form__content {
      margin-right: 200px;
      margin-left: 60px;}}
@media screen and (max-width: 1104px) {
    .form__content {
      margin-right: 0;
      margin-left: 0;}}